# mysql:{{mysql__source}}
# secret:{{secret__source}}
connurl = {{ mysql }}:{{ secret }}

{% for stage in _hierarchy['global'] %}
  {{stage}}
  {% for cluster in stage %}
    {{cluster}}
    {{cluster.mysql}}
  {% endfor %}
{% endfor %}
